
@{
    ViewBag.Title = "HTMLHelpers";
}

<h2>HTMLHelpers</h2>
@Html.ActionLink("Baslangic Sayfasına Git!", "Baslangic")
<br />
@Html.ActionLink("RazorSyntax Sayfasına Git!", "RazorSyntax")
<br />
@Html.ActionLink("HTMLHelpers Sayfasına Git!", "HTMLHelpers")
<br />
@Html.ActionLink("HTMLMetot Sayfasına Git!", "HTMLMetot")
<br />
@Html.ActionLink("HTMLMetot2 Sayfasına Git!", "HTMLMetot2")
<br />
@Html.ActionLink("HTMLMetot3 Sayfasına Git!", "HTMLMetot3")
<br />
<hr />
<p>HTML HELPERS için Kodlar ve Örnekler</p>

<pre>
input> id="text1" name="text1" type="text" /> br/> 
input> id="button1" name="button1" type="button" Value="Tıkla" /> br/>

a> href="/Home/Index"> Index Sayfasına Git! /a> br/> 
</pre>

<p> Yukarıda gördüğünüz kodları Eğerki HTML kodları arasına yazacak olursak aşağıdaki görüntü oluşmuş olacak:</p>

<input id="text" name="text1" type="text" />
<br />
<input id="button1" name="button1" type="button" value="Tıkla" />
<br />
<a href="/Home/Index">Index Sayfasına Git!</a>

<pre>
Html.ActionLink("Index Sayfasına Git!", "Index")

p> Veya  /p>
Html.ActionLink("Index2 Sayfasına Git!", "Index2")

p> Veya  /p>
Html.ActionLink("Index Sayfasına Git!", "Index3")

Html.TextBox("text2", "Adınız")

Html.TextBox("text2", "Soyadınız")

Html.TextBox("text2", "Mail Adresiniz")

Html.TextArea("textarea1", "Mesajınız",8,30,null)

input id="button2" name="button2" type="button" value=" Tıkla" />

</pre>

<p> Yukarıdaki kodlar HTML HELPERS sayesinde kolayca üretilmiş kodlardır. HTML Sayfasında "At sign" HTML. yazıldığında çıkan kodlar ile kolayca yazılabilir.</p>

@Html.ActionLink("Baslangic Sayfasına Git!", "Baslangic")
<br />
<p>Veya</p>
@Html.ActionLink("RazorSyntax Sayfasına Git!", "RazorSyntax")
<br />

<p>Veya</p>
@Html.ActionLink("HTMLHelpers Sayfasına Git!", "HTMLHelpers")
<br />


@Html.TextBox("text2", "Adınız")
<br />
@Html.TextBox("text2", "Soyadınız")
<br />
@Html.TextBox("text2", "Mail Adresiniz")
<br />

@Html.TextArea("textarea1", "Mesajınız", 8, 30, null)
<br />

<input id="button2" name="button2" type="button" value=" Tıkla" />

<br />

<p> DENEME</p>
<style>
    .design_deneme {
        color: red;
        font-size: large;
        font-style: italic;
        font-family: 'Times New Roman';
    }
</style>
@Html.ActionLink("Baslangic Sayfasına Git!", "Baslangic", new { deger = "Melih", deger2 = "Olymposrec", deger3 = "Akkose" }, new { title = "Baslangic Sayfasına Yönlendirir", @class = "design_deneme" })
<br />